<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{adminBase::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="page-wrapper">
					<!-- alert start-->
								<th:block th:if="${session.succMsg}">
								    <div class="alert alert-success alert-dismissible fade show py-2 alert-custom" role="alert">
								        <div class="d-flex align-items-center">
								            <div class="font-35 text-white"><i class='bx bxs-check-circle'></i></div>
								            <div class="ms-3">
								                <h6 class="mb-0 text-white" th:text="${session.succMsg}"></h6>
								            </div>
								        </div>
								        <button type="button" class="btn-close" aria-label="Close"></button>
								    </div>
								</th:block>
								<th:block th:if="${session.errorMsg}">
								    <div class="alert alert-danger alert-dismissible fade show py-2 alert-custom" role="alert">
								        <div class="d-flex align-items-center">
								            <div class="font-35 text-white"><i class='bx bxs-error-circle'></i></div>
								            <div class="ms-3">
								                <h6 class="mb-0 text-white" th:text="${session.errorMsg}"></h6>
								            </div>
								        </div>
								        <button type="button" class="btn-close" aria-label="Close"></button>
								    </div>
								</th:block>
								
								
								<!-- alert end-->
					<div class="page-content">
						<!--breadcrumb-->
						<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
							<div class="breadcrumb-title pe-3">ADMIN</div>
							<div class="ps-3">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="/admin/"><i class="bx bx-home-alt"></i></a>
										</li>
										<li class="breadcrumb-item"><a href="/admin/category">Category</a>
																				</li>
										<li class="breadcrumb-item active" aria-current="page">Edit Category</li>
									</ol>
								</nav>
							</div>
							<div class="ms-auto">
								
							</div>
						</div>
						<!--end breadcrumb-->
					  
						<div class="container">
					<div class="main-body">
						<div class="row">
							<div class="col-lg-16">
								<div class="card">
									
									<div class="card-body">
										<form action="/admin/updateCategory" method="post"
			                            enctype="multipart/form-data">
										<input type="hidden" name="id" th:value="${category.id}">
										<div class="row mt-4">
											<div class="col">
												<label>Enter Category</label> <input type="text" name="name" th:value="${category.name}" class="form-control">
											</div>
											<!--<div class="col">
												<label>Upload Image</label> <input type="file" name="file" class="form-control">
											</div>-->
										</div>

			                           
										<div class="row mt-4">
											<label>Status</label>
											<div class="col">
												<input class="form-check-input" type="radio" th:checked="${category.isActive==true}" value="true" name="isActive" id="flexRadioDefault1">
												<label class="form-check-label" for="flexRadioDefault1">Active </label>
											</div>
											<div class="col">
												<input class="form-check-input" type="radio" name="isActive" th:checked="${category.isActive==false}" value="false" id="flexRadioDefault2"> 
												<label class="form-check-label" for="flexRadioDefault2">Inactive </label>
											</div>
											<!--<div class="col">
												<img th:src="@{'/img/category_img/'+${category.imageName}}" width="100px" height="100px">
											</div>-->
										</div>
										
			                            
			                            <button type="submit" class="btn btn-light px-5 mt-4 " name="submit"><i class='bx bx-category fs-5' ></i>Update Category</button>
			                        </form>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
					</div>
				</div>
	</section>
</body>
</html>