<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<main class="main pages">
		     <div class="page-header breadcrumb-wrap">
		         <div class="container">
		             <div class="breadcrumb">
		                 <a href='index.html' rel='nofollow'><i class="fi-rs-home mr-5"></i>Home</a>
		                 <span></span> Pages <span></span> My Account
		             </div>
		         </div>
		     </div>
		     <div class="page-content pt-150 pb-150">
		         <div class="container">
		             <div class="row">
		                 <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
		                     <div class="row">
		                         <div class="col-lg-6 col-md-8">
		                             <div class="login_wrap widget-taber-content background-white">
		                                 <div class="padding_eight_all bg-white">
		                                     <div class="heading_s1">
		                                         <h1 class="mb-5">Create an Account</h1>
		                                         <p class="mb-30">Already have an account? <a href='/signin'>Login</a></p>
		                                     </div>
											 <div th:if="${msg}" class="alert alert-success text-center">
												<p class="text-success fw-bold text-center">[[${msg}]]</p>
												<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
											</div>
				 							
											<div th:if="${errorMsg}" class="alert alert-danger text-center">
												<p class="text-danger fw-bold text-center">[[${errorMsg}]]</p>
												<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
											</div>

		                                     <form action="/saveUser" enctype="multipart/form-data" id="userRegister" method="post">
		                                         <div class="form-group">
		                                             <input type="text" required="required" name="name" placeholder="Fullname" />
		                                         </div>
		                                         <div class="form-group">
		                                             <input type="email" required="required" name="email" placeholder="Email" />
		                                         </div>
		                                         <div class="form-group">
		                                             <input required="required" type="number" name="mobileNumber" placeholder="Mobile" />
		                                         </div>
												 <div class="row form-group">
												 									<div class="col">
												 										 <input required="required"
												 											class="form-control" name="address" type="text" placeholder="Address">
												 									</div>

												 									<div class="col">
												 									 <input required="required"
												 											class="form-control" name="city" type="text" placeholder="City">
												 									</div>

												 								</div>

																				<div class="row form-group">
																													<div class="col">
																														 <input required="required"
																															class="form-control" name="state" type="text" placeholder="State">
																													</div>

																													<div class="col">
																													 <input required="required"
																															class="form-control" name="pincode" type="number" placeholder="Pincode">
																													</div>

																												</div>
												 
												 <div class="form-group">
												 	<input type="file" required="required" name="img" accept="image/*" />
												 </div>
												 
												 
												 <div class="row form-group">
												 									<div class="col">
												 										<label class="form-label">Password</label> <input required="required"
												 											class="form-control" name="password" type="password" id="pass">
												 									</div>

												 									<div class="col">
												 										<label class="form-label">Confirm Password</label> <input
												 											required="required" class="form-control" name="confirmpassword"
												 											type="password">
												 									</div>

												 								</div>


		                                         
		                                        
		                                         
		                                         <div class="form-group mb-30">
		                                             <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Submit &amp; Register</button>
		                                         </div>
		                                         
		                                     </form>
		                                 </div>
		                             </div>
		                         </div>
								 <div class="col-lg-6 pr-30 d-none d-lg-block">
								 	<img class="border-radius-15"   th:src="@{assets/imgs/page/login-1.png}" alt="" />
								 </div>
		                     </div>
		                 </div>
		             </div>
		         </div>
		     </div>
		 </main>

	</section>
</body>
</html>