<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 
</head>
<body>
	<section>
		<!--assistant button-->
				<button id="voice-button" class="text-white " style="position: fixed; z-index: 2147483647; right: 25px; bottom: 70px; 
				width: 50px; height: 50px; border: none; border-radius: 100%;
				 background:linear-gradient(-120deg,#4285f4,#34a853,#fbbc05,#ea4335) ;"><i class="fa fa-microphone"></i></button>
				 
				 <audio id="notification-sound" th:src="@{/assets/sounds/notify.mp3}" preload="auto"></audio>
				 <!--assistant button-->
				 
				 <!--chat bot-->
				 	 
				 		<button id="chatbot-button" class="text-white " style="position: fixed; z-index: 2147483647; right: 25px; bottom: 125px; 
				 		 		width: 50px; height: 50px; border: none; border-radius: 100%;
				 		 		 background:linear-gradient(-120deg,rgb(120, 211, 170),rgb(41, 129, 89),#3bb77e) ;"><i class='fa-solid fa-robot' style='font-size:24px'></i></button>
				 		 
				 				 
				 				 
				 				 <div class="chat">
				 		 			<div class="chat-title">
				 		 			<h1 style="color:#fff">AgriMate</h1>
				 		 			<button class="close-btn"><i class="fa fa-times	"></i></button>
				 		 			</div>
				 		 			<div class="messages">
				 		 			<div class="messages-content"></div>
				 		 			</div>
				 		 			<div class="message-box">
				 		 			<input type="text" class="message-input" placeholder="Type message..."></input>
				 		 			<button type="submit" class="message-submit"><i class="fa-solid fa-paper-plane" style='font-size:24px'></i></button>
				 		 			</div>
				 		 		</div>
				 	 <!--chat bot-->
		<main class="main pages">
		        <div class="page-header breadcrumb-wrap">
		            <div class="container">
		                <div class="breadcrumb">
		                    <a href='index.html' rel='nofollow'><i class="fi-rs-home mr-5"></i>Home</a>
		                    <span></span> Pages <span></span> My Account
		                </div>
		            </div>
		        </div>
				
				<div id="toast-container">
				        <th:block th:if="${session.succMsg}">
				            <div class="toast success" data-message-type="success">
				                <p class="toast-text" th:text="${session.succMsg}"></p>
				            </div>
				        </th:block>

				        <th:block th:if="${session.errorMsg}">
				            <div class="toast error" data-message-type="error">
				                <p class="toast-text" th:text="${session.errorMsg}"></p>
				            </div>
				        </th:block>
				    </div>
		        <div class="page-content pt-150 pb-150">
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-10 m-auto">
		                        <div class="row">
		                            <div class="col-md-3">
		                                <div class="dashboard-menu">
		                                    <ul class="nav flex-column" role="tablist">
		                                        <li class="nav-item">
		                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
		                                        </li>
		                                        <li class="nav-item">
		                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
		                                        </li>
		                                        
		                                        
		                                        <li class="nav-item">
		                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
		                                        </li>
												<li class="nav-item">
		                                            <a class="nav-link" id="change-password-tab" data-bs-toggle="tab" href="#password-change" role="tab" aria-controls="change-password" aria-selected="true"><i class="fi-rs-user mr-10"></i>Change Password</a>
		                                        </li>
		                                        <li class="nav-item">
		                                            <a class='nav-link' href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                            <div class="col-md-9">
		                                <div class="tab-content account dashboard-content pl-50">
		                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
		                                        <div class="card">
													
													<div class="text-center">
															<img alt="" th:src="@{'../img/profile_img/'+${user.profileImage}}"
																class="border p-2"
																style="width: 150px; height: 150px; border-radius: 50%;  object-fit: fill;">
														</div>

		                                            <div class="card-header">
		                                                <h3 class="mb-0 text-center" th:text="'Hello '+${user.name}+' !'"></h3>
		                                            </div>
		                                            <div class="card-body">
		                                                <p class="text-center">
		                                                    From your account dashboard. you can easily check &amp; view your recent orders,<br />
		                                                   	and edit your password and account details.
		                                                </p>
		                                            </div>
		                                        </div>
		                                    </div>
		                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
		                                        <div class="card">
		                                            <div class="card-header">
		                                                <h3 class="mb-0">Your Orders</h3>
		                                            </div>
		                                            <div class="card-body">
		                                                <div class="table-responsive">
															
															
															
															
															<table class="table table-bordered card-sh">
																					<thead >
																						<tr >
																							<th scope="col">Order Id</th>
																							<th scope="col">Date</th>
																							<th scope="col">Product Details</th>
																							<th scope="col">Price</th>
																							<th scope="col">Status</th>
																							<th scope="col">Action</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr th:each="o:${orders}">
																							<th scope="row">[[${o.orderId}]]</th>
																							<td>[[${o.orderDate}]]</td>
																							<td>[[${o.product.title}]]</td>
																							<td>Quantity : [[${o.quantity}]] <br>Price :
																								[[${o.price}]] <br>Total Price :[[${o.quantity *
																								o.price}]]
																							</td>
																							<td>[[${o.status}]]</td>
																							<td>
																							    <th:block th:if="${o.status != 'Cancelled' && o.status != 'Delivered'}">
																							        <a th:href="@{'/user/update-status?id='+${o.id}+'&st=6'}" class="btn btn-sm btn-danger">Cancel</a>
																							    </th:block>
																							    <th:block th:unless="${o.status != 'Cancelled' && o.status != 'Delivered'}">
																							        
																							    </th:block>
																							</td>
																						</tr>
																					</tbody>
																				</table>
															
															
															
		                                                   
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                    
		                                    
		                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
		                                        <div class="card">
		                                            <div class="card-header">
		                                                <h5>Account Details</h5>
		                                            </div>
		                                            <div class="card-body">
		                                                
		                                                <form action="/user/update-profile" method="post" enctype="multipart/form-data">
		                                                    <div class="row">
		                                                        <div class="form-group col-md-6">
		                                                            <label>Display Name <span class="required">*</span></label>
		                                                            <input type="text" name="name" class="form-control" th:value="${user.name}" />
		                                                        </div>
		                                                        <div class="form-group col-md-6">
		                                                            <label>Phone number <span class="required">*</span></label>
		                                                            <input input type="text" name="mobileNumber" class="form-control" th:value="${user.mobileNumber}" />
		                                                        </div>
		                                                        
		                                                        <div class="form-group col-md-12">
		                                                            <label>Email Address <span class="required">*</span></label>
		                                                            <input type="text" name="" class="form-control" readonly th:value="${user.email}"/>
		                                                        </div>
																<div class="form-group col-md-6">
		                                                            <label>Address <span class="required">*</span></label>
		                                                            <input type="text" name="address" class="form-control" th:value="${user.address}" />
		                                                        </div>
		                                                        <div class="form-group col-md-6">
		                                                            <label>City <span class="required">*</span></label>
		                                                            <input type="text" name="city" class="form-control" th:value="${user.city}" />
		                                                        </div>
																<div class="form-group col-md-6">
		                                                            <label>State <span class="required">*</span></label>
		                                                            <input type="text" name="state" class="form-control" th:value="${user.state}" />
		                                                        </div>
		                                                        <div class="form-group col-md-6">
		                                                            <label>Pincode <span class="required">*</span></label>
		                                                            <input type="text" name="pincode" class="form-control" th:value="${user.pincode}" />
		                                                        </div>
																<div class="form-group col-md-12">
		                                                            <label>Image <span class="required">*</span></label>
		                                                            <input type="file" name="img" class="form-control" value=""/>
		                                                        </div>
																
																<!--<div class="form-group col-md-6">
		                                                            <label>Role <span class="required">*</span></label>
		                                                            <input type="text" name="" class="form-control" readonly th:value="${user.role}"/>
		                                                        </div>
		                                                        <div class="form-group col-md-6">
		                                                            <label>Account Status <span class="required">*</span></label>
		                                                            <input type="text" name="" class="form-control" readonly th:value="${user.isEnable}"> 
																	<input type="hidden" th:value="${user.id}" name="id"/>
		                                                        </div>-->
		                                                        <div class="col-md-12">
		                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Update Profile</button>
		                                                        </div>
		                                                    </div>
		                                                </form>
		                                            </div>
		                                        </div>
		                                    </div>
											
											<div class="tab-pane fade" id="password-change" role="tabpanel" aria-labelledby="change-password-tab">
		                                        <div class="card">
		                                            <div class="card-header">
		                                                <h5>Change Password</h5>
		                                            </div>
		                                            <div class="card-body">
		                                                
		                                                <form action="/user/change-password" method="post">
		                                                    <div class="row">
		                                                        
		                                                        <div class="form-group col-md-12">
		                                                            <label>Current Password <span class="required">*</span></label>
		                                                            <input class="form-control" type="text" name="currentPassword" />
		                                                        </div>
		                                                        <div class="form-group col-md-12">
		                                                            <label>New Password <span class="required">*</span></label>
		                                                            <input class="form-control" type="text" name="newPassword" />
		                                                        </div>
		                                                        <div class="form-group col-md-12">
		                                                            <label>Confirm Password <span class="required">*</span></label>
		                                                            <input  class="form-control" type="text" name="confirmPassword" />
		                                                        </div>
		                                                        <div class="col-md-12">
		                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Update Password</button>
		                                                        </div>
		                                                    </div>
		                                                </form>
		                                            </div>
		                                        </div>
		                                    </div>
											
											
											
											
											
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </main>





			</section>
	
	
</body>
</html>